
@media (min-width: 320px) {
    .header__title h1 {
        font-size: 55px;
    }
}


@media (min-width: 375px) {
    .header__title h1 {
        font-size: 68px;
    }
}

@media (min-width: 425px) {
    .header__title h1 {
        font-size: 80px;
    }
}

@media (min-width: 576px) {
    .header__title h1 {
        font-size: 100px;
    }
}

@media (min-width: 768px) {
    .header__title h1 {
        font-size: 135px;
    }
}

@media (min-width: 1000px) {
    .header__title h1 {
        font-size: 180px;
    }
}

@media (min-width: 1200px) {
    .header__title h1 {
        font-size: 210px;
    }
}

@media (min-width: 1400px) {
    .header__title h1 {
        font-size: 240px;
    }
}



/* .vertical-card

@media (min-width: 576px) { /* sm */
    .horizontal {
    
    }
}

@media (min-width: 768px) { /* md */
    .horizontal {
    
    }
}

@media (min-width: 992px) { /* lg */
    .horizontal {
    
    }
}

@media (min-width: 1200px) { /* xl */
    .horizontal {
    
    }
}

@media (min-width: 1400px) { /* xxl */
    .horizontal {
    
    }
} */
