
@media (min-width: 320px) {
    .header__title h1 {
        font-size: 55px;
    }
}


@media (min-width: 375px) {
    .header__title h1 {
        font-size: 68px;
    }
}

@media (min-width: 425px) {
    .header__title h1 {
        font-size: 75px;
    }
}

@media (min-width: 576px) {
    .header__title h1 {
        font-size: 100px;
    }
}

@media (min-width: 768px) {
    .header__title h1 {
        font-size: 130px;
    }
}

@media (min-width: 992px) {
    .header__title h1 {
        font-size: 180px;
    }
}

@media (min-width: 1200px) {
    .header__title h1 {
        font-size: 240px;
    }
}

